<h1>Edit Blog Post</h1>

<%= form_with model: @blog_post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>    
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>  
    <%= form.submit "Update Blog post" %>
  </div>

  <div>
    <%= link_to "Destroy", blog_post_path(@blog_post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%= link_to "Show", @blog_post %> |
<%= link_to "Back", root_path %>
