<h1>Edit Blog Post</h1>

<%= form_with model: @blog_post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Update Blog post" %>
  </div>
<% end %>
